<div class="card shadow my-3 text-light bg-danger">
    <img
      class="card-img-top"
      src="https://borilio.github.io/curso-angular/img/banner.jpg"
      alt="Banner de la tarjeta"
    />
    <div class="card-body">
      <h3 class="card-title">Página no encontrada</h3>
      <p>
        La página que estás buscando o se ha movido o ya no existe.
      </p>
      <p class="text-center">
        <i class="bi bi-gem" style="color: purple"></i>
        <i class="bi bi-gem" style="color: lightskyblue"></i>
        <i class="bi bi-gem" style="color: greenyellow"></i>
        <i class="bi bi-gem" style="color: gold"></i>
        <i class="bi bi-gem" style="color: darkorange"></i>
        <i class="bi bi-gem" style="color: red"></i>
      </p>
    </div>
    <div class="card-footer btn-group">
      <a class="btn btn-link btn-light" href="/"><i class="bi bi-house"></i>Home</a>
    </div>
  </div>
  